body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background:#021e3e !important;
}
.ant-menu-item-selected{
  background:#1691d2 !important;
}
.ant-menu.ant-menu-sub.ant-menu-inline{
  background:#052e57 !important;
}
.ant-layout{
  background: #eef6ff !important;
}
.ant-layout-sider-children{
  background: #021e3e !important;
  height: 100vh !important;
}
.ant-layout-header{
  background:#021e3e !important;
}
.ant-layout-header{
  border-left:1px solid #021831 !important;
}
.ant-menu-item span,.ant-menu-item i{
  color: #8da3be !important;
}
.ant-menu-item.ant-menu-item-selected span,.ant-menu-item.ant-menu-item-selected i{
  color: #fff !important;
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-active{
  color: #fff !important;
}
.ant-menu-submenu.ant-menu-submenu-inline{
  color: #aec5e0 !important;
}
.ant-menu-item.ant-menu-item-selected{
  color: #fff !important;
}
.ant-menu-item a{
  color: #aec5e0 !important;
}
.ant-menu-item.ant-menu-item-selected a{
  color: #fff !important;
} 
.ant-layout-sider{
  background: #021e3e !important
}